.popup__title {
  margin: 34px 0 22px 0;
  font-family: 'Roboto','Helvetica Neue', Arial, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  color: #1A1B22;
}

@media (max-width: 719px) {
  .popup__title {
    margin: 16px 0 22px 0;
    max-width: 288px;
    display: block;
  }
}
