@import url('../__flag/news-grid__flag.css');
@import url('../__flag/_type/news-grid__flag_type_marked.css');
@import url('../__hint/news-grid__hint.css');

.news-grid__item {
  display: flex;
  flex-direction: column;
  margin: 0 0 10px 0;
  background-color: #fff;
  border-radius: 10px;
  position: relative;
}