.popup__close {
  width: 40px;
  height: 40px;
  position: absolute;
  top: -46px;
  right: -46px;
  cursor: pointer;
  z-index: 10;
}

@media (max-width: 719px) {
  .popup__close {
    display: none;
  }
}
