.content-paragraph_type_footer {
  margin-left: 104px;
  color: #B6BCBF;
  font-family: 'Roboto','Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
}

@media (max-width: 1024px) {
  .content-paragraph_type_footer {
    margin-left: 40px;
  }
}

@media (max-width: 767px) {
  .content-paragraph_type_footer {
    margin: 0 auto 0 auto;
  }
}