.news-grid__hint {
  height: 40px;
  width: 182px;
  position: absolute;
  top: 24px;
  right: 69px;
  color: #1A1B22;
  font-size: 10px;
  line-height: 12px;
  font-family: 'Roboto','Helvetica Neue', Arial, sans-serif;
  text-align: center;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  visibility: hidden;
}

@media (max-width: 768px) {
  .news-grid__hint {
    display: none;
  }
}
