.hamburger-menu__line {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #fff;
  position: absolute;
  top: -5px;
  z-index: 9;
}

.hamburger-menu__line::after {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background-color: #fff;
  transform: translate(0, -6px);
 }